* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Head / Navbar */
.head {
  background-image: url("../media/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-texts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -47px;
  margin-left: 463px;
}

.nav-texts a, button {
  margin-left: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #FFFFFF;
}

.logo img {
  width: 200px;
  height: 69px;
  margin-top: 25px;
  margin-left: 40px;
}

.commander {
  color: rgb(178, 210, 52);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 15px;
  padding: 9px 30px;
  border-radius: 4px;
  outline: none;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid transparent;
}

.tagline {
  margin-top: 158px;
  margin-left: 614px;
  width: 739px;
  height: 376px;
  text-align: left;
}

.socials-logo {
  margin-top: 307px;
  margin-left: 1736px;
  width: 32px;
  height: 32px;
  margin-bottom: 10px;
}

/* Second Section */
.second-section {
  background-image: url("../media/fond_grille.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.first-title {
  margin-left: 148px;
  margin-top: 149px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 52px;
  color: #B2D234;
}

.first-subtitle {
  margin-top: 40px;
  margin-left: 148px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #606060;
}

.produit1 {
  margin-top: -580px;
  margin-left: 938px;
  width: 883px;
  height: 883px;
}

.info {
  background-color: #B2D234;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  padding: 14px 60px;
  border-radius: 4px;
  margin-top: 40px;
  margin-left: 148px;
  border: 1px solid transparent;
}

/* Third Section */
.third-class {
  background-image: url("../media/ismael-trevino-NDyuR4Huig8-unsplash.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.third-container {
  width: 35vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(178, 210, 52, 0.8);
  margin-left: 960px;
  border: 1px solid;
}

.second-title {
  font-size: 39px;
  font-weight: bolder;
  color: #fff;
  text-align: center;
  margin-left: 32px;
  margin-right: 32px;
  font-family: "Poppins", sans-serif;
}

.second-title2 {
  font-size: 39px;
  font-weight: bolder;
  color: #fff;
  text-align: center;
  margin-left: 32px;
  margin-right: 32px;
  font-family: "Poppins", sans-serif;
}

.second-subtitle {
  font-size: 20.8px;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 32px;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
}

.second-info {
  font-size: 28px;
  width: 200px;
  height: 50px;
  padding: 5px;
  color: rgb(178, 210, 52);
  background-color: #fff;
  outline: none;
  border-radius: 4px;
  border: 1px solid transparent;
  margin-top: 40px;
}

.title-container {
  padding: 1px 1px;
}

/* Fourth Section */
.fourth-class {
  background-image: url("../media/five_image.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.fourth-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 52px;
  color: #B2D234;
  margin-left: 694px;
  margin-top: 71px;
}

.fourth-subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #606060;
  text-align: center;
  margin-left: 64px;
  margin-top: 30px;
}

.list-menu {
  width: 550px;
  height: 700px;
  margin-bottom: 100px;
  margin-top: 87px;
  margin-left: 359px;
}

.menu {
  height: 100px;
  margin-bottom: 40px;
  position: relative;
}

.menu h1 {
  color: #B2D234;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 12px;
}

.menu .price {
  color: #B2D234;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  top: 0;
  right: 10px;
}

.menu .content {
  color: #606060;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  width: 75%;
}

.best-offer::before {
  content: "La plus vendue !";
  position: absolute;
  top: -18px;
  right: 0px;
  width: 100px;
  height: 17px;
  background-color: #B2D234;
  color: white;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
}

.best-offer {
  border: 1px solid #B2D234;
  padding: 12px;
  height: 150px;
}

.blue {
  color: #60A0D8;
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: 300;
  font-style: italic;
  transform: rotate(-9deg);
}

.green {
  color: #B2D234;
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: 300;
  font-style: italic;
  transform: rotate(-9deg);
}

.fourth-droite {
  width: 550px;
  height: 700px;
  margin-left: 969.67px;
  margin-top: -690.16px;
}

.fourth-droite p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  width: 800px;
  align-items: center;
  margin-top: 65px;
  color: #606060;
  width: 430px;
}

.fourth-droite button {
  padding: 14px 60px;
  margin-top: 90px;
  background-color: #B2D234;
  color: #FFFFFF;
  border: 1px solid transparent;
}

/* Five Section */
.five-class {
  background-image: url("../media/louis-hansel-MlPD-AzZYMg-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: start;
  flex-wrap: wrap;
}

.green-card {
  background-color: rgba(178, 210, 52, 0.884);
  width: 45%;
  height: 500px;
  text-align: center;
  align-items: center;
}

.green-card h1 {
  margin-top: 24px;
  font-family: "Poppins", sans-serif;
  font-size: 52px;
  font-weight: 600;
  color: white;
}

.green-content {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.first-green-content p {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  align-items: center;
  margin-left: 248px;
}

.second-green-content p {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  align-items: center;
  margin-left: 48px;
}

.blue-card {
  background-color: rgba(96, 160, 216, 0.884);
  width: 45%;
  height: 500px;
  text-align: center;
  align-items: center;
}

.blue-card h1 {
  margin-top: 24px;
  font-family: "Poppins", sans-serif;
  font-size: 52px;
  font-weight: 600;
  color: white;
}

.blue-card p {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  align-items: center;
}

.first-blue-content {
  display: flex;
  flex-direction: column;
  margin-left: 248px;
}

.blue-content {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

/* Six Section */
.six-gauche {
  margin-left: 300px;
}

.six-droite {
  margin-top: 83.42px;
  margin-left: 981px;
}

.produit2 {
  margin-left: 40px;
  margin-top: 184.5px;
  width: 524px;
  height: 524px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  margin-top: 14px;
  margin-left: -44px;
}

.form-content {
  display: flex;
  flex-direction: row;
}

.form-line {
  margin-top: 25px;
}

.space-left {
  margin-left: 16px;
}

label {
  display: block;
  color: #B2D234;
  font: italic normal normal 23px/29px Poppins;
  display: flex;
  flex-direction: row;
}

input[type=text],
textarea {
  width: 308px;
  height: 45px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 8px;
}

input[type=email], textarea {
  width: 632px;
  height: 45px;
  margin-top: 8px;
}

input[type=motivation], textarea {
  width: 632px;
  height: 135px;
  margin-top: 8px;
}

button {
  margin-top: 35.67px;
  margin-left: 200.5px;
  display: block;
  width: 223px;
  height: 61px;
  padding: 10px;
  background-color: #B2D234;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.six-section {
  background-image: url("../media/fond_grille.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.six-container {
  margin-top: -670px;
}

.six-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 52px;
  color: #B2D234;
}

.six-subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #606060;
  text-align: center;
  margin-top: 30px;
  width: 459px;
  height: 76px;
}

/* Footer */
.container {
  max-width: 1170px;
  margin: auto;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

ul {
  list-style: none;
}

.footer {
  background-color: #B2D234;
  padding: 70px 0;
  margin-top: 80px;
}

.footer img {
  height: 70px;
  width: 200px;
  margin-right: 80px;
}

.column {
  width: 25%;
  padding: 0 15px;
  text-align: center;
}

.column h1 {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.column ul li:not(:last-child) {
  margin-bottom: 10px;
}

.column ul li a {
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: white;
  display: block;
}

/* Responsive */
@media (max-width: 1300px) {
  .nav-texts {
    display: none;
  }
  .tagline {
    margin-top: 50px;
    margin-left: 60px;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .socials-logo {
    margin-top: 100px;
    margin-left: 200px;
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gauche {
    margin-top: -120px;
    font-size: auto;
    margin-left: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .produit1 {
    margin-top: 50px;
    margin-left: 60px;
    margin-bottom: 50px;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .second-title,
  .second-title2,
  .second-subtitle,
  .second-info {
    margin-top: 158px;
    margin-left: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .third-container {
    width: 90%;
    margin-top: 50px;
    margin-left: 60px;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .second-title {
    font-size: 32px;
    margin-top: 50px;
    margin-left: 60px;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .second-title2 {
    font-size: 32px;
    margin-top: 10px;
    margin-left: 60px;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .second-subtitle {
    font-size: 18px;
    margin-top: 50px;
    margin-left: 60px;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .second-info {
    font-size: 24px;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .fourth-title {
    margin-left: 0;
    text-align: center;
  }
  .fourth-subtitle {
    margin-left: 0;
  }
  .list-menu {
    width: 100%;
    max-width: none;
    margin-left: 0;
  }
  .menu {
    margin-top: 5px;
  }
  .menu h1 {
    margin-left: 20px;
  }
  .content {
    margin-left: 20px;
  }
  .fourth-droite {
    margin-left: 0;
    margin-top: 30px;
  }
  .fourth-droite p {
    width: 100%;
    max-width: none;
    margin-left: 0;
  }
}/*# sourceMappingURL=style.css.map */