* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


  /* Head / Navbar */

  
  .head {
    background-image: url("../media/background.png");
    background-size: cover;
    background-repeat: no-repeat; 
  }

  .nav-texts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -47px;
    margin-left: 463px;
  }

  .nav-texts a,button {  
    margin-left: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #FFFFFF;
  }

  .logo img {
    width: 200px;
    height: 69px;
    margin-top: 25px;
    margin-left: 40px;
  }
  
  .commander {
    color: rgba(178, 210, 52, 1);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    padding: 9px 30px;
    border-radius: 4px;
    outline: none;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid transparent;
}

  .tagline {
    margin-top: 158px;
    margin-left: 614px;
    width: 739px;
    height: 376px;
    text-align: left;
  }

  .socials-logo {
    margin-top: 307px;
    margin-left: 1736px;
    width: 32px;
    height: 32px;
    margin-bottom: 10px;
  }

  /* Second Section */

  .second-section {
    background-image: url("../media/fond_grille.png");
    background-size: cover;
    background-repeat: no-repeat; 
  }

  .first-title {
    margin-left: 148px;
    margin-top: 149px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 52px;
    color: #B2D234;
  }

  .first-subtitle {
    margin-top: 40px;
    margin-left: 148px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #606060;
  }

  .produit1 {
    margin-top: -580px;
    margin-left: 938px;
    width: 883px;
    height: 883px;
  }

  .info {
    background-color: #B2D234;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    padding: 14px 60px;
    border-radius: 4px;
    margin-top: 40px;
    margin-left: 148px;
    border: 1px solid transparent;
  }


  /* Third Section */

  .third-class {
    background-image: url("../media/ismael-trevino-NDyuR4Huig8-unsplash.png");
    background-size: cover;
    background-repeat: no-repeat; 
  }

  .third-container {
    width: 35vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(178, 210, 52, 0.8);
    margin-left: 960px;
    border: 1px solid;
  }

  .second-title {
    font-size: 39px;
    font-weight: bolder;
    color: #fff;
    text-align: center;
    margin-left: 32px;
    margin-right: 32px;
    font-family: 'Poppins', sans-serif;
  }

  .second-title2 {
    font-size: 39px;
    font-weight: bolder;
    color: #fff;
    text-align: center;
    margin-left: 32px;
    margin-right: 32px;
    font-family: 'Poppins', sans-serif;
  }

  .second-subtitle {
    font-size: 20.8px;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 32px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
  }

  .second-info {
    font-size: 28px;
    width: 200px;
    height: 50px;
    padding: 5px;
    color: rgba(178, 210, 52, 1);
    background-color: #fff;
    outline: none;
    border-radius: 4px;
    border: 1px solid transparent;
    margin-top: 40px;
  }

  .title-container {
    padding: 1px 1px;
}

    /* Responsive */

  @media (max-width: 1300px) {
    .nav-texts {
      display: none;
    }

    .tagline {
      margin-top: 50px;
      margin-left: 60px;
      width: 80%;
      height: 80%;
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    .socials-logo {
      margin-top: 100px;
      margin-left: 200px;
      width: 120px;
      height: 120px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .gauche {
      margin-top: -120px;
      font-size: auto;
      margin-left: -100px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .produit1 {
      margin-top: 50px;
      margin-left: 60px;
      margin-bottom: 50px;
      width: 80%;
      height: 80%;
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    .second-title,
    .second-title2,
    .second-subtitle,
    .second-info {
      margin-top: 158px;
      margin-left: 54px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .third-container {
      width: 90%;
      margin-top: 50px;
      margin-left: 60px;
      width: 80%;
      height: 80%;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  
    .second-title {
      font-size: 32px;
      margin-top: 50px;
      margin-left: 60px;
      width: 80%;
      height: 80%;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  
    .second-title2 {
      font-size: 32px;
      margin-top: 10px;
      margin-left: 60px;
      width: 80%;
      height: 80%;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  
    .second-subtitle {
      font-size: 18px;
      margin-top: 50px;
      margin-left: 60px;
      width: 80%;
      height: 80%;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  
    .second-info {
      font-size: 24px;
      margin-top: 30px;
      margin-left: 30px;
      margin-bottom: 30px;
      width: 80%;
      height: 80%;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    

  }
