.head {
    background-image: url("../media/background.png");
    background-size: cover;
    background-repeat: no-repeat; 
  }

  .nav-texts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -47px;
    margin-left: 463px;
  }

  .nav-texts a,button {  
    margin-left: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #FFFFFF;
  }

  .logo img {
    width: 200px;
    height: 69px;
    margin-top: 25px;
    margin-left: 40px;
  }
  
  .commander {
    color: rgba(178, 210, 52, 1);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    padding: 9px 30px;
    border-radius: 4px;
    outline: none;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid transparent;
}

  .tagline {
    margin-top: 158px;
    margin-left: 614px;
    width: 739px;
    height: 376px;
    text-align: left;
  }

  .socials-logo {
    margin-top: 307px;
    margin-left: 1736px;
    width: 32px;
    height: 32px;
    margin-bottom: 10px;
  }